body { 
    display: block;
    margin: auto;
    margin-top:10px;
}

#board {
    height: 800px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 1px solid #000;
}
  
.row {
    display: flex;
    width: 800px;
    height: 100px;
}
  
.square {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0px;
}

.img {
    display: flex;
    height: 100px;
    width: 100px;
    margin: unset;
}
.img img {
    display: flex;
    margin-left: 3px;
}

#invert-color { 
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

#w-border { border: 1px solid #fff; }
#b-border { border: 1px solid #000; }


.test {
    display: flex;
    margin: auto;
    margin-top: 10px;
    height: 100px;
    width: 100px;
}
